{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- Page header start -->
<div class="page-header">
    
    <!-- Breadcrumb start -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Conversation with 
			{% if conversation.user_one == request.user %}
				{{ conversation.user_two.first_name }} {{ conversation.user_two.last_name }}
			{% else %}
				{{ conversation.user_one.first_name }} {{ conversation.user_one.last_name }}
			{% endif %}
		</li>
    </ol>
    <!-- Breadcrumb end -->
</div>

<div class="container content">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">Chat</div>
				<div class="card-body height3">
					<ul id="all-chat" class="chat-list hide-scrollbar" style="overflow-y: scroll; height: 55vh;">
						{% for message in conversation.messages.all %}
							{% if message.sender == request.user %}
								<li class="out">
									<div class="chat-img">
										<img alt="Avtar" src="{% static 'images/user.png' %}">
									</div>
									<div class="chat-body">
										<div class="chat-message">
											<h5>{{ message.text }}</h5>
											<p style="font-size: 10px; opacity: .8;">at {{ message.date|date:"d M Y H:i" }}</p>
										</div>
									</div>
								</li>
							{% else %}
								<li class="in">
									<div class="chat-img">
										<img alt="Avtar" src="{% static 'images/user.png' %}">
									</div>
									<div class="chat-body">
										<div class="chat-message">
											<h5>{{ message.text }}</h5>
											<p style="font-size: 10px; opacity: .8;">at {{ message.date|date:"d M Y H:i" }}</p>
										</div>
									</div>
								</li>
							{% endif %}
						{% endfor %}

						{% if not conversation.messages.all %}
							<p class="text-center mt-5">Send a message to start a conversation</p>
						{% endif %}
						
						{% comment %} <li class="out">
							<div class="chat-img">
								<img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
							</div>
							<div class="chat-body">
								<div class="chat-message">
									<h5>Serena</h5>
									<p>Next level veard</p>
								</div>
							</div>
						</li> {% endcomment %}
						
					</ul>
				</div>
				<div class="card-footer">
					{% csrf_token %}
					<div class="input-group">
						<input id="text" name="text" class="form-control" placeholder="Type your message here...">
						<span class="input-group-append">
							<button onclick="sendMessage()" class="btn btn-primary" type="button">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<li id="outmsg" class="out d-none">
	<div class="chat-img">
		<img alt="Avtar" src="{% static 'images/user.png' %}">
	</div>
	<div class="chat-body">
		<div class="chat-message">
			<h5 id="msg-txt"></h5>
			<p style="font-size: 10px; opacity: .8;">Just now</p>
		</div>
	</div>
</li>



<script>
	const chatlist = document.querySelector('.chat-list');
	chatlist.scrollTop = chatlist.scrollHeight;

	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	let csrftoken = this.getCookie('csrftoken');

	function sendMessage(){
		const text = document.getElementById("text").value
		if (text === '') return
		fetch('{% url 'send_message' conversation.id %}', {
			method: 'POST',
            body: JSON.stringify({'text': text}),
            headers: {
                'Accept': 'application/json, text/plain',
                'Contentt-type': 'application/json',
                'X-CSRFToken': csrftoken,
            }
        })
        .then((response)=>{
            response.json()
			.then((data)=>{
				if (data.status === 'ok'){
					document.getElementById("text").value = ''
					const outmsg = document.getElementById('outmsg').cloneNode(true)
					outmsg.removeAttribute('id')
					outmsg.classList.remove('d-none')
					outmsg.querySelector('#msg-txt').innerText = text
					document.getElementById('all-chat').appendChild(outmsg)
					const chatlist = document.querySelector('.chat-list');
					chatlist.scrollTop = chatlist.scrollHeight;
				} else {
					alert('Something went wrong. Please try again!')
				}
			})
		})
		
	}
</script>

{% endblock %}