{% load static %}

<nav id="sidebar" class="sidebar-wrapper">

    <!-- Sidebar brand start  -->
    <div class="sidebar-brand">
        <a href="/" class="logo">
            <img id="large-logo" height="20px" src="{% static 'images/core.png' %}" alt="logo" />
            <img id="small-logo" class="d-none" height="36px" src="{% static 'images/8.png' %}" alt="logo" />
        </a>
    </div>
    <!-- Sidebar brand end  -->

    <!-- User profile start -->
    <div class="sidebar-user-details" style="overflow-x: hidden;">
        <div class="user-profile">
            <img width="54" height="54" src="{% static 'images/user.png' %}" alt="user" style="border-radius: 50%" />
            <span class="status-label"></span>
        </div>
        <h6 class="profile-name">
            {{ user.username }}
        </h6>
        <div class="profile-actions">
            <a href="/" data-toggle="tooltip" data-placement="top" title="" data-original-title="">
                <i class="fas fa-tasks"></i>
            </a>
            {% if user.is_superuser %}
            <a href="{% url 'conversations' %}">
                <i class="far fa-comment-dots"></i>
            </a>
            {% else %}
            <a href="{% url 'conversation' %}">
                <i class="far fa-comment-dots"></i>
            </a>
            {% endif %}

            <a href="{% url 'logout' %}" class="red" data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
    <!-- User profile end -->

    <!-- Sidebar content start -->
    <div class="sidebar-content">

        <!-- sidebar menu start -->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/" class="current-page"><i class="fas fa-tasks"></i><span class="menu-text">Task</span></a>
                </li>
                <li>
                    {% if user.is_superuser %}
                    <a href="{% url 'conversations' %}">
                        <i class="far fa-comment-dots"></i>
                        <span class="menu-text">Chat</span>
                    </a>
                    {% else %}
                    <a href="{% url 'conversation' %}">
                        <i class="far fa-comment-dots"></i>
                        <span class="menu-text">Chat</span>
                    </a>
                    {% endif %}
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'user_list' %}" class="current-page">
                        <i class="fas fa-tasks"></i>
                        <span class="menu-text">User list</span>
                    </a>
                </li>
                {% endif %}
                
            </ul>
        </div>
        <!-- sidebar menu end -->

    </div>
    <!-- Sidebar content end -->
    
</nav>
