{% load static %}

<aside id="layout-menu" class="hide-scrollbar my-sidebar-menu layout-menu menu-vertical menu bg-menu-theme" style="padding-top: 24px">
    <div class="app-brand demo">
      <a href="/" class="app-brand-link">
        <img src="{% static 'images/logo_icon.png' %}" alt="Brand Logo" class="app-brand-logo demo" style="width: 40px; height: 40px;">
        <span class="app-brand-text demo menu-text fw-bold">
          CORE
        </span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
        <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <br/>
      <li class="menu-item {% if todoPage %}active{% endif %}" hx-get="/todo" hx-target="#body-wrapper" hx-swap="innerHTML">
        <a href="#" class="menu-link">
          <i class="menu-icon tf-icons ti ti-checkbox"></i>
          <div >ToDo</div>
        </a>
      </li>
      <li class="menu-item" hx-get="/chat" hx-target="#body-wrapper" hx-swap="innerHTML">
        <a href="#" class="menu-link">
          <i class="menu-icon tf-icons ti ti-messages"></i>
          <div >Chat</div>
        </a>
      </li>
      {% if request.user.is_superuser %}
      <li class="menu-item" hx-get="{% url 'user_list' %}" hx-target="#body-wrapper" hx-swap="innerHTML">
        <a href="#" class="menu-link">
          <i class="menu-icon tf-icons ti ti-users"></i>
          <div >Users</div>
        </a>
      </li>
      {% endif %}
      
    </ul>
  </aside>


  <script>
    const menu_items = document.querySelectorAll('.menu-item');
    menu_items.forEach(item => {
      item.addEventListener('click', () => {
        menu_items.forEach(item => {
          item.classList.remove('active');
        });
        item.classList.add('active');
      });
    });
  </script>